<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals ABC</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h1><%=animal.name%></h1>
    <ul>
        <li><img src="<%animal.img%>"></li>
        <li>Species: <%=animal.species%></li>
        <li class="<%=extinctClass%>">Extinct: <%=animal.extinct%></li>
        <li>Location: <%=animal.location%></li>
        <li>Life Expectancy in Years: <%=animal.lifeExpectancy%></li>
    </ul>
    <a href="/animal/<%=id%>/edit">
    <input type="submit" value="EDIT"/></a>
    <form action="/animal/<%=id%>/?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/><br>  
    <a href="/animal"><input type="submit" value="RETURN TO MAIN"/></a>
</form>
</body>
</html>