<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals ABC</title>
</head>
<body>
    <h1><%=animal.name%></h1>
    <ul>
        <li><img src="<%animal.img%>"></li>
        <li>Species: <%=animal.species%></li>
        <li class="<%=extinctClass%>">Extinct: <%=animal.extinct%></li>
        <li>Location: <%=animal.location%></li>
        <li>Life Expectancy in Years: <%=animal.lifeExpectancy%></li>
    </ul>
    

    
    
    <a href="/animal/<%=_id_%>/edit">Edit this Animal</a>
    <form action="/animal/<%=_id_%>/?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
    </form>
    <a href="/animal">Back to Animals Index</a>
    
</body>
</html>